.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
border: 2px solid orangered;
border-radius: 10px;

}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgb(237, 237, 247);
    height: 40vh;
}

.flex-col{
    flex: 1 1 20%; 
    border: 1px solid orangered;
    padding: 1rem;
    background-color: #f1f1f1;
    text-align: center;
}

.flex-col-2{
    flex: 1 1 10%;
    border: 1px solid orangered;
    border-radius: 10px;

}

.flex-col-3{
    flex: 1 1 20%;
    border: 1px solid orangered;
    border-radius: 10px;

}

.flex-col-4{
    flex: 1 30%;
    border: 1px solid orangered;
    border-radius: 10px;


}

.flex-col-6{
    flex: 1 1 49%;
    border: 1px solid orangered;
    border-radius: 10px;

}

@media (max-width: 991px) {
    .flex-col,
    .flex-col-2,
    .flex-col-3,
    .flex-col-4,
    .flex-col-6 {
        flex: 1 1 48%; 
    }
}

  

  @media (max-width:576px) {
    .flex-col,.flex-col-2,.flex-col-3,.flex-col-4,.flex-col-6 {
        flex: 1 1 100%; 

      }
  }
