<!-- <p>carsole works!</p>


<section class="product">
    <div class="container-fulid">
        <div class="slider-wrap">
            <div class="slider-main">
                <div class="item">
                    <div class="text">
                        1
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        2
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        3
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        4
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        5
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        6
                    </div>
                </div>

               
            </div>


            <div class="button-area">
                <button type="button" class="prev" appPrev>Previous</button>
                <button type="button" class="next" appNext>Next</button>

            </div>

        </div>
        <div id="indicators">
            <div *ngFor="let slide of slides; let i = index" class="indicator" [ngClass]="{active: i === currentSlide}" (click)="jumpToSlide(i)">
            </div>
          </div>
      
    </div>
</section> -->



<section class="product">
    <div class="container-fluid">
      <div class="slider-wrap">
        <!-- Slider container with dynamic slide display -->
        <div class="slider-main" [ngStyle]="getSlideStyle()">
          <div *ngFor="let slide of visibleSlides" class="item">
            <div class="text">{{ slide }}</div>
          </div>
        </div>
  
        <!-- Navigation buttons for prev/next -->
        <div class="button-area">
          <button type="button" class="prev" (click)="prevSlide()">Previous</button>
          <button type="button" class="next" (click)="nextSlide()">Next</button>
        </div>
      </div>
  
      <!-- Indicators, dynamically created based on the number of slide sets -->
      <div id="indicators">
        <div *ngFor="let _, let i = index of indicators" 
             class="indicator" 
             [ngClass]="{active: currentSlide / slidesPerPage === i}" 
             (click)="jumpToIndicator(i)">
        </div>
      </div>
    </div>
  </section>
  
  